#contenedor video{
	max-width: 100%;
	width: 100%;
}

#contenedor{
	max-width: 100%;
	position:relative;
}

canvas{
	height: 30%;
	max-width: 100%;
}

canvas.drawingBuffer{
	position:absolute;
	top:0;
	left:0;
}